
<header class="header ">
    <nav class="navbar navbar-expand-lg header-nav second-nav-padding">
        
        <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a routerLink="" class="navbar-brand logo">
                <img src="assets/images/logo_white.svg" style="max-width: 210px;" class="img-fluid" alt="Logo">
            </a>
        </div>
        	 
        <ul class="nav header-navbar-rht">
            <li class="nav-item contact-item">
                <div class="header-contact-img">
                    <i class="fas fa-phone" style="transform: rotate(90deg);"></i>					
                </div>
                <div class="header-contact-detail">
                    <p class="contact-header">Contact Us</p>
                    <p class="contact-info-header"> <a class="mr-2 text-white fw-400">+91 7090 100 096</a></p>
                </div>
            </li>
            <li class="nav-item contact-item">
                <div class="header-contact-img">
                    <i class="fas fa-user"></i>					
                </div>
                <div class="header-contact-detail">
                    <p class="contact-header">User</p>
                    <p class="contact-info-header"> <a  routerLink="signin" class="mr-2 text-white fw-400">Login</a>|<a  routerLink="signin" class="ml-2 text-white fw-400">Register</a></p>
                </div>
            </li>
            <li class="nav-item contact-item">
                <div class="header-contact-img">
                    <i class="fas fa-user-tie"></i>						
                </div>
                <div class="header-contact-detail">
                    <p class="contact-header">Lawyer</p>
                    <p class="contact-info-header"> <a routerLink="signin" class="mr-2 text-white fw-400">Login</a>|<a  routerLink="signin" class="ml-2 text-white fw-400">Register</a></p>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link header-login" ><i class="far fa-comment-alt mr-2 h5 mb-0"></i>Free Consultation</a>
            </li>
        </ul>
    </nav>
    <div class="second-nav-padding">
        <div class="header-nav second-nav">
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a routerLink="" class="menu-logo">
                        <img src="assets/images/logo_white.svg" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <ul class="main-nav">
                    <li class="active">
                        <a routerLink="lawyer" >Lawyers</a>
                    </li>
                    <li class="">
                        <a routerLink="service-main" >Service</a>
                    </li>
                    <li class="">
                        <a routerLink="blog" >Blog</a>
                    </li>
                   
                    <li class="">
                        <a routerLink="contact-us" >Contact</a>
                    </li>
                    
                    <li class="login-link">
                        <a routerLink="signin">User Login / Signup</a>
                    </li>
                    <li class="login-link">
                        <a routerLink="signin">Lawyer Login / Signup</a>
                    </li>
                    
                </ul>		 
            </div>	
        </div>
    </div>
</header>
