<footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-3 col-md-6">
                
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="assets/images/logo.png" alt="logo">
                        </div>
                        <div class="footer-about-content footer-contact-info">
                            <div class="footer-address">
                                <span><i class="fas fa-map-marker-alt"></i></span>
                                <p> #1569, 2nd Floor, 7th Main 4th Cross, RPC 
                                    Layout, Vijayanagar Bangalore -560040 </p>
                            </div>
                            
                        </div>
                    </div>
                    <!-- /Footer Widget -->
                    
                </div>
                
                <div class="col-lg-2 col-md-6">
                
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <ul>
                            <li><a routerLink="lawyer"><i class="fas fa-angle-double-right"></i> Lawyer</a></li>
                            <li><a  routerLink="service-main"><i class="fas fa-angle-double-right"></i> Services</a></li>
                            <li><a  routerLink="blog"><i class="fas fa-angle-double-right"></i> Blog</a></li>
                            <li><a routerLink="contact-us"><i class="fas fa-angle-double-right"></i> Contact</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                    
                </div>
                
                <div class="col-lg-2 col-md-6">
                
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <ul>
                            <!--<li><a routerLink="terms-of-service"><i class="fas fa-angle-double-right"></i> Refund and Cancellation</a></li>
                            -->
                            <li><a  routerLink="terms-of-service"><i class="fas fa-angle-double-right"></i> Terms of Service</a></li>
                            <li><a  routerLink="disclaimer"><i class="fas fa-angle-double-right"></i> Disclaimer</a></li>
                            <li><a routerLink="privacy-policy"><i class="fas fa-angle-double-right"></i> Privacy Policy</a></li>              
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                    
                </div>
                
                <div class="col-lg-3 col-md-6">
                
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-contact">
                       
                        <div class="footer-contact-info">
                            <img src="assets/images/payment-options.png">
                            <img src="assets/images/payment-options1.png">
                        </div>
                    </div>
                    <!-- /Footer Widget -->
                    
                </div>
                
            </div>
        </div>
    </div>
    <!-- /Footer Top -->
    
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container-fluid">
            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="copyright-text text-center">
                            <p class="mb-0"><a>Copyright © 2017 Legalconclave.com. All Rights Reserved</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Copyright -->
            
        </div>
    </div>
    <!-- /Footer Bottom -->
    
</footer>