<!-- Page Content -->
<div class="content" style="padding-top: 140px;">
    <div class="container-fluid">

        <div class="row justify-content-center">
            
            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
               <app-service-sidebar></app-service-sidebar>
            </div>
            <!-- / Profile Sidebar -->
            
            <div class="col-md-7 col-lg-8 col-xl-8">
                <div class="service-inner-banner">
                    <h3 class="mb-0">AFFIDAVITS</h3>
                </div>
                <h4 class="pt-3 "><b>Address Proof</b></h4>
                <p class="text-justify">An affidavit is a written sworn statement of fact voluntarily made under an oath or affirmation administered
                    by a person authorized to do so by law - such as a notary public or gazetted officer. It is done with the help
                    of legal professional, on a stamp paper.if the Court so orders for sufficient reason.</p>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card card-service-inner">
                            <div class="card-body" >
                                <h5 class="pb-3"><b>Affidavit For Address Proof</b></h5>
                                <div class="row">
                                    <div class="col-sm-6 pb-3">
                                        <input type="text" name="clientName" value="" class="form-control" placeholder="Name">
                                    </div>
                                    <div class="col-sm-6 pb-3">
                                        <input type="text" name="fatherName" value="" class="form-control" placeholder="Name of Father">
                                    </div>
                                    <div class="col-sm-9 pb-3">
                                        <input type="text" name="phone" value="" class="form-control" placeholder="Enter Your Contact Number">
                                    </div>
                                    <div class="col-sm-3 pb-3">
                                        <input type="text" name="clientAge" value="" class="form-control" placeholder="Age">
                                    </div>
                                    <div class="col-sm-12 pb-3">
                                        <textarea name="clientAddress" rows="3" class="form-control" placeholder="Enter address"></textarea>
                                    </div>
                                    <div class="col-sm-12 pb-2">
                                        <input type="text" name="stayingSince" value="" class="form-control" placeholder="How long you are staying in the above address">
                                    </div>
                                    <div class="col-sm-12 pb-1">
                                        <div>
                                            <label class="checkbox checkbox-styled">
                                                <input type="checkbox" name="checkbox" value="1" class="">
                                                <span>&nbsp;Is delivery address same</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 pb-3">
                                        <textarea name="DeliveryAddress"  rows="3" class="form-control" placeholder="Delivery Address"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12 pb-3">
                                        <label><b>Enter your Stamp Duty</b></label>
                                        <div class="">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 pb-1">
                                        <div>
                                            <label><b>How do you want your document to be processed?</b></label>
                                        </div>
                                        <label class="checkbox checkbox-styled">
                                            <input type="radio" name="g" value="1" class="">
                                            <span>&nbsp;Printed</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input type="radio" name="g" value="0" class="">
                                            <span>&nbsp;Notarized</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-12 pb-2">
                                        <div>
                                            <label><b>Delivery Charge</b></label>
                                        </div>
                                        <div>
                                            <label class="checkbox checkbox-styled">
                                                <input type="radio" name="g" value="1" class="">
                                                <span>&nbsp;2 Days, 48 Hours - ₹ 50</span>
                                            </label>
                                        </div>
                                        <div >
                                            <label class="checkbox checkbox-styled">
                                                <input type="radio" name="g" value="1" class="">
                                                <span>&nbsp;1 Day, 24 Hours (COD optional) - ₹ 100</span>
                                            </label>
                                        </div>
                                        <div >
                                            <label class="checkbox checkbox-styled">
                                                <input type="radio" name="g" value="1" class="">
                                                <span>&nbsp;12 Hours (COD optional) - ₹ 150</span>
                                            </label>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-12">
                                        <table class="table">
                                            <tr>
                                                <th>Order Summary</th>
                                                <th class="text-center">Affidavit For Address Proof</th>
                                            </tr>
                                            <tr>
                                                <td>Stamp Duty</td>
                                                <td class="text-center"> ₹ 0 /-</td>
                                            </tr>
                                            <tr>
                                                <td>Service Charge</td>
                                                <td class="text-center">₹ 149 /-</td>
                                            </tr>
                                            <tr>
                                                <td>Delivery Charge</td>
                                                <td class="text-center"> ₹ 150 /-</td>
                                            </tr>
                                            <tr>
                                                <td><b>Total</b></td>
                                                <td class="text-center"><b>₹ 299 /-</b></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-sm-12">
                                        <button name="paymentType" type="submit" value="online" class="btn-sign w-100 btn btn-success" >Click here to Pay online</button>
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="text-center mb-0">OR</p>
                                        <div>
                                            <label class="checkbox checkbox-styled">
                                                <input type="checkbox" name="checkbox" value="1" class="">
                                                <span>&nbsp;I agree to pay Agreement charges at the time of delivery</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <button name="paymentType" type="submit" value="cod" class="btn-sign w-100 btn btn-success">Cash on Delivery</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->
