<div class="profile-sidebar">
    <div class="widget-profile pro-widget-content">
        <div class="profile-info-widget">
            <a [routerLink]="['/user-dashboard']" class="booking-doc-img">
                <img src="assets/img/patients/patient.jpg" alt="User Image">
            </a>
            <div class="profile-det-info">
                <h3>Richard Wilson</h3>
            </div>
        </div>
    </div>
    <div class="dashboard-widget">
        <nav class="dashboard-menu">
            <ul>
                <li class="active">
                    <a  [routerLink]="['/user-dashboard']" >
                        <i class="fas fa-columns"></i>
                        <span>My Consultation</span>
                    </a>
                </li>
                <li>
                    <a  [routerLink]="['/user-my-order']" >
                        <i class="fas fa-bookmark"></i>
                        <span>My Order Page</span>
                    </a>
                </li>
                <!--<li>
                    <a  [routerLink]="['/chat-widget']" >
                        <i class="fas fa-comments"></i>
                        <span>Chat Advise</span>
                        <small class="unread-msg">23</small>
                    </a>
                </li>-->
                <li>
                    <a  [routerLink]="['/user-profile-setting']" >
                        <i class="fas fa-user-cog"></i>
                        <span>Profile Settings</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/user-change-password']" >
                        <i class="fas fa-lock"></i>
                        <span>Change Password</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/user-favourite']" >
                        <i class="fas fa-heart"></i>
                        <span>Favourites</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/user-refer-earn']" >
                        <i class="fas fa-handshake"></i>
                        <span>Refer And Earn</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/user-review']" >
                        <i class="fas fa-star-half-alt"></i>
                        <span>Ratings</span>
                    </a>
                </li>
                <li>
                    <a  [routerLink]="['']" >
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>