<!-- Lawyer List Banner -->
<section class="section section-lawyer-profile" style="background-color: #f8f9fb;">
    <div class="container-fluid">
        <div class="row " >
            <div class="col-sm-12 d-flex align-items-center">
                <div class="banner-wrapper">
                    <div class="banner-header text-center">
                        <h1 class="text-center text-black"></h1>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- /Lawyer List Banner -->
<!-- Page Content -->
<div class="content success-page-cont" style="background-color: #f8f9fb;">
    <div class="container-fluid">
    
        <div class="row justify-content-center">
            <div class="col-lg-6">
            
                <!-- Success Card -->
                <div class="card success-card">
                    <div class="card-body">
                        <div class="success-cont">
                            <i class="fas fa-check"></i>
                            <h3>Appointment booked Successfully!</h3>
                            <p>Appointment booked with <strong>Adv. Darren Elder</strong><br> on <strong>12 Nov 2019 5:00PM to 6:00PM</strong></p>
                            <a [routerLink]="['/invoice']" routerLinkActive="router-link-active"  class="btn btn-primary view-inv-btn black-bg-btn">View Invoice</a>
                        </div>
                    </div>
                </div>
                <!-- /Success Card -->
                
            </div>
        </div>
        
    </div>
</div>		
<!-- /Page Content -->
