<!-- Page Content -->
<div class="content" style="padding-top: 140px;">
    <div class="container-fluid">

        <div class="row">
            
            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
               <app-lawyer-sidebar></app-lawyer-sidebar>
            </div>
            <!-- / Profile Sidebar -->
            
            <div class="col-md-7 col-lg-8 col-xl-9">
                <!-- Page Content -->
                <div class="content" >
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="chat-window">
                                
                                    <!-- Chat Left -->
                                    <div class="chat-cont-left">
                                        <div class="chat-header">
                                            <span>Chats</span>
                                            <a href="javascript:void(0)" class="chat-compose">
                                                <i class="material-icons">control_point</i>
                                            </a>
                                        </div>
                                        <form class="chat-search">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <i class="fas fa-search"></i>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Search">
                                            </div>
                                        </form>
                                        <div class="chat-users-list">
                                            <div class="chat-scroll">
                                                <a href="javascript:void(0);" class="media">
                                                    <div class="media-img-wrap">
                                                        <div class="avatar avatar-away">
                                                            <img src="assets/images/lawyer/1.png" alt="User Image" class="avatar-img rounded-circle">
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <div>
                                                            <div class="user-name">Adv. Ruby Perrin</div>
                                                            <div class="user-last-chat">Hey, How are you?</div>
                                                        </div>
                                                        <div>
                                                            <div class="last-chat-time block">2 min</div>
                                                            <div class="badge badge-success badge-pill">15</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="javascript:void(0);" class="media read-chat active">
                                                    <div class="media-img-wrap">
                                                        <div class="avatar avatar-online">
                                                            <img src="assets/images/lawyer/1.png" alt="User Image" class="avatar-img rounded-circle">
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <div>
                                                            <div class="user-name">Adv. Darren Elder</div>
                                                            <div class="user-last-chat">I'll call you later </div>
                                                        </div>
                                                        <div>
                                                            <div class="last-chat-time block">8:01 PM</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="javascript:void(0);" class="media">
                                                    <div class="media-img-wrap">
                                                        <div class="avatar avatar-away">
                                                            <img src="assets/images/lawyer/1.png" alt="User Image" class="avatar-img rounded-circle">
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <div>
                                                            <div class="user-name">Adv. Deborah Angel</div>
                                                            <div class="user-last-chat">Give me a full explanation about our project</div>
                                                        </div>
                                                        <div>
                                                            <div class="last-chat-time block">7:30 PM</div>
                                                            <div class="badge badge-success badge-pill">3</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="javascript:void(0);" class="media read-chat">
                                                    <div class="media-img-wrap">
                                                        <div class="avatar avatar-online">
                                                            <img src="assets/images/lawyer/1.png" alt="User Image" class="avatar-img rounded-circle">
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <div>
                                                            <div class="user-name">Adv. Sofia Brient</div>
                                                            <div class="user-last-chat">That's very good UI design</div>
                                                        </div>
                                                        <div>
                                                            <div class="last-chat-time block">6:59 PM</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="javascript:void(0);" class="media read-chat">
                                                    <div class="media-img-wrap">
                                                        <div class="avatar avatar-offline">
                                                            <img src="assets/images/lawyer/1.png" alt="User Image" class="avatar-img rounded-circle">
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <div>
                                                            <div class="user-name">Adv. Marvin Campbell</div>
                                                            <div class="user-last-chat">Yesterday i completed the task</div>
                                                        </div>
                                                        <div>
                                                            <div class="last-chat-time block">11:21 AM</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="javascript:void(0);" class="media read-chat">
                                                    <div class="media-img-wrap">
                                                        <div class="avatar avatar-online">
                                                            <img src="assets/images/lawyer/1.png" alt="User Image" class="avatar-img rounded-circle">
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <div>
                                                            <div class="user-name">Adv. Katharine Berthold</div>
                                                            <div class="user-last-chat">What is the major functionality?</div>
                                                        </div>
                                                        <div>
                                                            <div class="last-chat-time block">10:05 AM</div>
                                                        </div>
                                                    </div>
                                                </a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Chat Left -->
                                
                                    <!-- Chat Right -->
                                    <div class="chat-cont-right">
                                        <div class="chat-header">
                                            <a id="back_user_list" href="javascript:void(0)" class="back-user-list">
                                                <i class="material-icons">chevron_left</i>
                                            </a>
                                            <div class="media">
                                                <div class="media-img-wrap">
                                                    <div class="avatar avatar-online">
                                                        <img src="assets/images/lawyer/1.png" alt="User Image" class="avatar-img rounded-circle">
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <div class="user-name">Adv. Darren Elder</div>
                                                    <div class="user-status">online</div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="chat-body">
                                            <div class="chat-scroll">
                                                <ul class="list-unstyled">
                                                    <li class="media sent">
                                                        <div class="media-body">
                                                            <div class="msg-box">
                                                                <div>
                                                                    <p>Hello. What can I do for you?</p>
                                                                    <ul class="chat-msg-info">
                                                                        <li>
                                                                            <div class="chat-time">
                                                                                <span>8:30 AM</span>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="media received">
                                                        <div class="avatar">
                                                            <img src="assets/images/lawyer/1.png" alt="User Image" class="avatar-img rounded-circle">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="msg-box">
                                                                <div>
                                                                    <p>I'm just looking around.</p>
                                                                    <p>Will you tell me something about yourself?</p>
                                                                    <ul class="chat-msg-info">
                                                                        <li>
                                                                            <div class="chat-time">
                                                                                <span>8:35 AM</span>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </li>
                                                    <li class="media sent">
                                                        <div class="media-body">
                                                            <div class="msg-box">
                                                                <div>
                                                                    <p>Where?</p>
                                                                    <ul class="chat-msg-info">
                                                                        <li>
                                                                            <div class="chat-time">
                                                                                <span>8:42 AM</span>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="msg-box">
                                                                <div>
                                                                    <p>OK, my name is Limingqiang. I like singing, playing basketballand so on.</p>
                                                                    <ul class="chat-msg-info">
                                                                        <li>
                                                                            <div class="chat-time">
                                                                                <span>8:42 AM</span>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="media received">
                                                        <div class="avatar">
                                                            <img src="assets/images/lawyer/1.png" alt="User Image" class="avatar-img rounded-circle">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="msg-box">
                                                                <div>
                                                                    <div class="msg-typing">
                                                                        <span></span>
                                                                        <span></span>
                                                                        <span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="chat-footer">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="btn-file btn">
                                                        <i class="fa fa-paperclip"></i>
                                                        <input type="file">
                                                    </div>
                                                </div>
                                                <input type="text" class="input-msg-send form-control" placeholder="Type something">
                                                <div class="input-group-append">
                                                    <button type="button" class="btn msg-send-btn"><i class="fab fa-telegram-plane"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Chat Right -->
                                    
                                </div>
                            </div>
                        </div>
                        <!-- /Row -->

                    </div>

                </div>		
                <!-- /Page Content -->
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->
