<div class="profile-sidebar">
    
    <div class="dashboard-widget">
        <nav class="dashboard-menu">
            <ul>
                <li class="active">
                    <a [routerLink]="['/admin-dashboard']">
                        <i class="fas fa-columns"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/admin-lawyer']">
                        <i class="fas fa-gavel"></i>
                        <span>Lawyer</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/admin-client']">
                        <i class="fas fa-users"></i>
                        <span>Client</span>
                    </a>
                </li>
                
                <li>
                    <a [routerLink]="['/admin-user']">
                        <i class="fas fa-user"></i>
                        <span>User</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/admin-appointment']">
                        <i class="fas fa-person-booth"></i>
                        <span>Appointments</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/admin-manage-payment']">
                        <i class="fas fa-tasks"></i>
                        <span>Manage Payment</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/admin-manage-service']">
                        <i class="fas fa-file-alt"></i>
                        <span>Services</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/admin-role-assign']">
                        <i class="fas fa-user-tag"></i>
                        <span>Assign Roles </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/admin-grand-role']">
                        <i class="fas fa-stamp"></i>
                        <span>Grant/Revoke User Roles</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/admin-refer-earn']">
                        <i class="fas fa-money-check-alt"></i>
                        <span>Refer And Earn Management</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/admin-service-list']">
                        <i class="fas fa-layer-group"></i>
                        <span>Service Module</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/admin-blog']">
                        <i class="fas fa-newspaper"></i>
                        <span>Blog Page</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/admin-order-invoice']">
                        <i class="fas fa-receipt"></i>
                        <span>Order & Invoice Management</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/admin-shipping']">
                        <i class="fas fa-shipping-fast"></i>
                        <span>Shipping/Logistics Management</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/admin-refund']">
                        <i class="fas fa-undo-alt"></i>
                        <span>Returns/ Cancellation/ Refund</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['']">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>