<!-- Page Content -->
<div class="content" style="padding-top: 140px;">
    <div class="container-fluid">

        <div class="row">
            
            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
               <app-lawyer-sidebar></app-lawyer-sidebar>
            </div>
            <!-- / Profile Sidebar -->
            
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Schedule Timings</h4>
                                <div class="profile-box">
                                    <div class="row">

                                        <div class="col-lg-4">
                                            <div class="form-group">               
                                                <label>Timing Slot Duration</label>
                                                <select class="select form-control">
                                                    <option>-</option>
                                                    <option>15 mins</option>
                                                    <option selected="selected">30 mins</option>  
                                                    <option>45 mins</option>
                                                    <option>1 Hour</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>     
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card schedule-widget mb-0">
                                            
                                                <!-- Schedule Header -->
                                                <div class="schedule-header">
                                                    <div class="schedule-nav">
                                                    <!-- Schedule Nav -->
                                                        <ul ngbNav #nav="ngbNav" class="nav nav-tabs nav-justified">
                                                            <li ngbNavItem  class="nav-item">
                                                            <a class="nav-link" ngbNavLink>Sunday</a>
                                                            <ng-template ngbNavContent>
                                                                <!-- Sunday Slot -->
                                                                <div id="slot_sunday" class="tab-pane ">
                                                                    <h4 class="card-title d-flex justify-content-between">
                                                                        <span>Time Slots</span> 
                                                                        <a class="edit-link" data-toggle="modal" href="#add_time_slot"><i class="fa fa-plus-circle"></i> Add Slot</a>
                                                                    </h4>
                                                                    <p class="text-muted mb-0">Not Available</p>
                                                                </div>
                                                                <!-- /Sunday Slot -->
                                                            </ng-template>
                                                            </li>
                                                            <li ngbNavItem  class="nav-item">
                                                            <a class="nav-link" ngbNavLink>Monday</a>
                                                            <ng-template ngbNavContent>
                                                                <!-- Monday Slot -->
                                                                <div id="slot_monday" class="tab-pane fade show active">
                                                                    <h4 class="card-title d-flex justify-content-between">
                                                                        <span>Time Slots</span> 
                                                                        <a class="edit-link" data-toggle="modal" href="#edit_time_slot"><i class="fa fa-edit mr-1"></i>Edit</a>
                                                                    </h4>
                                                                    
                                                                    <!-- Slot List -->
                                                                    <div class="doc-times">
                                                                        <div class="doc-slot-list">
                                                                            8:00 pm - 11:30 pm
                                                                            <a href="javascript:void(0)" class="delete_schedule">
                                                                                <i class="fa fa-times"></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="doc-slot-list">
                                                                            11:30 pm - 1:30 pm
                                                                            <a href="javascript:void(0)" class="delete_schedule">
                                                                                <i class="fa fa-times"></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="doc-slot-list">
                                                                            3:00 pm - 5:00 pm
                                                                            <a href="javascript:void(0)" class="delete_schedule">
                                                                                <i class="fa fa-times"></i>
                                                                            </a>
                                                                        </div>
                                                                        <div class="doc-slot-list">
                                                                            6:00 pm - 11:00 pm
                                                                            <a href="javascript:void(0)" class="delete_schedule">
                                                                                <i class="fa fa-times"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /Slot List -->
                                                                    
                                                                </div>
                                                                <!-- /Monday Slot -->
                                                            </ng-template>
                                                            </li>
                                                            
                                                            <li ngbNavItem  class="nav-item">
                                                                <a class="nav-link" ngbNavLink>Tuesday</a>
                                                                <ng-template ngbNavContent>
                                                                    <!-- Tuesday Slot -->
                                                                    <div id="slot_tuesday" class="tab-pane ">
                                                                        <h4 class="card-title d-flex justify-content-between">
                                                                            <span>Time Slots</span> 
                                                                            <a class="edit-link" data-toggle="modal" href="#add_time_slot"><i class="fa fa-plus-circle"></i> Add Slot</a>
                                                                        </h4>
                                                                        <p class="text-muted mb-0">Not Available</p>
                                                                    </div>
                                                                    <!-- /Tuesday Slot -->
                                                                </ng-template>
                                                            </li>
                                                            
                                                            <li ngbNavItem  class="nav-item">
                                                                <a class="nav-link" ngbNavLink>Wednesday</a>
                                                                <ng-template ngbNavContent>
                                                                    <!-- Wednesday Slot -->
                                                                    <div id="slot_wednesday" class="tab-pane ">
                                                                        <h4 class="card-title d-flex justify-content-between">
                                                                            <span>Time Slots</span> 
                                                                            <a class="edit-link" data-toggle="modal" href="#add_time_slot"><i class="fa fa-plus-circle"></i> Add Slot</a>
                                                                        </h4>
                                                                        <p class="text-muted mb-0">Not Available</p>
                                                                    </div>
                                                                    <!-- /Wednesday Slot -->
                                                                </ng-template>
                                                            </li>
                                                            
                                                            <li ngbNavItem  class="nav-item">
                                                                <a class="nav-link" ngbNavLink>Thursday</a>
                                                                <ng-template ngbNavContent>
                                                                     <!-- Thursday Slot -->
                                                                    <div id="slot_thursday" class="tab-pane ">
                                                                        <h4 class="card-title d-flex justify-content-between">
                                                                            <span>Time Slots</span> 
                                                                            <a class="edit-link" data-toggle="modal" href="#add_time_slot"><i class="fa fa-plus-circle"></i> Add Slot</a>
                                                                        </h4>
                                                                        <p class="text-muted mb-0">Not Available</p>
                                                                    </div>
                                                                    <!-- /Thursday Slot -->
                                                                </ng-template>
                                                            </li>
                                                            
                                                            <li ngbNavItem  class="nav-item">
                                                                <a class="nav-link" ngbNavLink>Friday</a>
                                                                <ng-template ngbNavContent>
                                                                     <!-- Friday Slot -->
                                                                    <div id="slot_friday" class="tab-pane ">
                                                                        <h4 class="card-title d-flex justify-content-between">
                                                                            <span>Time Slots</span> 
                                                                            <a class="edit-link" data-toggle="modal" href="#add_time_slot"><i class="fa fa-plus-circle"></i> Add Slot</a>
                                                                        </h4>
                                                                        <p class="text-muted mb-0">Not Available</p>
                                                                    </div>
                                                                    <!-- /Friday Slot -->
                                                                </ng-template>
                                                            </li>
                                                            <li ngbNavItem  class="nav-item">
                                                                <a class="nav-link" ngbNavLink>Saturday</a>
                                                                <ng-template ngbNavContent>
                                                                    <!-- Saturday Slot -->
                                                                    <div id="slot_saturday" class="tab-pane ">
                                                                        <h4 class="card-title d-flex justify-content-between">
                                                                            <span>Time Slots</span> 
                                                                            <a class="edit-link" data-toggle="modal" href="#add_time_slot"><i class="fa fa-plus-circle"></i> Add Slot</a>
                                                                        </h4>
                                                                        <p class="text-muted mb-0">Not Available</p>
                                                                    </div>
                                                                    <!-- /Saturday Slot -->

                                                                </ng-template>
                                                            </li>
                                                        </ul>
                                                    <!-- /Schedule Nav -->
                                                    </div>
                                                </div>
                                                <!-- /Schedule Header -->
                                                
                                                <!-- Schedule Content -->
                                                <div [ngbNavOutlet]="nav" class="tab-content schedule-cont"></div>
                                                <!-- /Schedule Content -->
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->
