<!-- CATEGORIES and Specialities -->
<section class="section section-specialities">
    <div class="container-fluid">
        <div class="text-center">
            <h2 class="mb-4 ctm-underline">THE <b>A TO Z OF LAW </b>CATEGORIES IN INDIA</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-9">
                <!-- Slider -->
                <ngx-slick-carousel class="carousel" [config]="slideConfig">
                    <div ngxSlickItem class="slide">
                        <div class="specialities-slider slider">
                            <div class="speicality-item text-center">
                                <p>Cyber Law 
                                    <br>Lawyers</p>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem  class="slide">
                        <div class="specialities-slider slider">
                            <div class="speicality-item text-center">
                                <p>Criminal Law 
                                   <br> Lawyers</p>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem  class="slide">
                        <div class="specialities-slider slider">
                            <div class="speicality-item text-center">
                                <p>Academic Law 
                                    <br>Lawyers</p>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem  class="slide">
                        <div class="specialities-slider slider">
                            <div class="speicality-item text-center">
                                <p>Banking Law 
                                    <br>Lawyers</p>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem  class="slide">
                        <div class="specialities-slider slider">
                            <div class="speicality-item text-center">
                                <p>Banking Law 
                                    <br>Lawyers</p>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
    <div class="text-center about-content a">
        <a  routerLink="lawyer" class="mt-0">See More</a>
    </div>
   
</section>
<!-- Clinic and Specialities -->