<!-- Page Content -->
<div class="content" style="padding-top: 140px;">
    <div class="container-fluid">

        <div class="row">
            
            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
               <app-admin-sidebar></app-admin-sidebar>
            </div>
            <!-- / Profile Sidebar -->
            
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Referred By</th>
                                        <th>Referred To</th>
                                        <th class="text-center">Referred On</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">  
                                                <a >Ruby Perrin </a>
                                            </h2>
                                        </td>
                                        <td>Rose Perrin</td>
                                        <td class="text-center">14 Nov 2019 <span class="d-block text-info">10.00 AM</span></td>
                                                            
                                        <td class="text-center">
                                            <div class="table-action">
                                                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                     Verified
                                                </a>
                                                &nbsp;
                                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                     Rejected
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->
