<!-- Lawyer List Banner -->
<section class="section section-contact-us">
    <div class="container-fluid">
        <div class="row " style="margin-top: 85px;">
            <div class="col-sm-12 d-flex align-items-center">
                <div class="banner-wrapper">
                    <div class="banner-header text-center">
                        <h1 class="text-center text-black ctm-underline"><span style="font-weight: 700;">Privacy</span> Policy</h1>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- /Lawyer List Banner -->
<!-- Page Content -->
<div class="content pt-0">
    <div class="container-fluid">

        <div class="row aliign-items-center justify-content-center">
            <div class="col-md-10 col-lg-10 col-xl-10 theiaStickySidebar">
                <div class="">
                    <div class="">
                        <h4>For Users (Both Clients and Lawyers) of legalconclave.com</h4>
                        <p>Both Clients or Visitors, and Lawyers are referred to as ‘You’. If you do not agree to the terms of our Privacy Policy, we request you to
                            not use this website.</p>
                        <p>legalconclave.com takes your privacy very seriously. We are making our policy as clear as possible so that you can be sure that you
                                are in safe hands.</p>
                        <p>If you have comments, concerns or queries about this Privacy Policy, please contact us at feedback@legalconclave.com</p>
                        <h5>1. Introduction to Privacy Practices of legalconclave.com</h5>
                        <p>legalconclave.com respects the privacy rights of all users (both Clients & Lawyers) of legalconclave.com services provided via the
                            legalconclave.com website, and is committed to protect your personal information. This policy describes in detail how information
                            about you may be used, how it may be disclosed, and how you may access this information.
                            </p>
                        <p>This page will serve as a policy of our privacy practices and a summary of your privacy rights.</p>
                        <p>We have created this website's 'Privacy Policy' to give you confidence as you visit and use the site, and to demonstrate our
                            commitment to fair information practices and the protection of privacy.</p>
                        <p>This Privacy Policy is only applicable to the website (and not to any other websites that you may be able to access from the website).
                            Your use of this website is governed by this Privacy Policy and the Terms of Use. If you are registering an account or using the site on
                            behalf of an individual or entity other than yourself, you tacitly admit that you are authorized by such individual or entity to accept
                            this Privacy Policy on his/her/their/its behalf.
                            </p>
                        <p>lease note that our primary aim is to provide only a ‘Lawyers Directory’ - a platform for quick and simple online / telephonic / faceto-face legal consultation.
                        </p>
                        <p>Be advised, in case your question or consultation contains matters of high security risk or there is a high privacy concern (like
                            matters of constitution, matters of judiciary, matters of police or law enforcement) we suggest you to use alternate services.</p>
                            <p> It is advisable for Clients to include only relevant, de-identifiable Personal Information in the case history.
                            </p><p>If you do not agree to the terms of our Privacy Policy, we kindly request you to not use this site.
                            </p><h5>2. Information that may be collected</h5>
                            <p>In order to use legalconclave.com, you (the visitor/client) are asked to enter an e-mail address and password, or log in with your
                            facebook or g-mail account - these three we refer to as your legalconclave.com User ID. This process will allow you to manage your
                            profile (Lawyers) and/or account (Users), and ask/answer specific queries.
                            When asking questions, you may be asked to submit personal information like age, gender and case history (optional but
                            recommended) etc. Providing us with other personal and identifiable information is, of course, optional and not recommended.
                            However, in some cases it may not be possible for us to provide the ‘Free Legal Advice' service without receiving specific information
                            from you, and in certain cases you will be requested by the consulting Lawyer you are interacting with - to provide additional
                            information in order to answer your questions. Additional information could be details of your case, specific reports etc.
                            We may automatically track and collect IP addresses, domain servers, type of web browsers, computers and domain servers used to
                            access the site, referring source to the site and your interaction with the site and the browser - collectively that is only to improve
                            your User Experience.</p>
                            <p>We also collect information you provide voluntarily in free-form text boxes on the site and through responses to the ‘Free Advice
                            Forum’.</p>
                            <h5>3. Cookies</h5>
                            <p>Cookies are text information files that your web browser places on your computer when you visit a website. Cookies assist in
                            providing non-personal information from you as an online visitor. It can be used in the customization of your preferences when
                            visiting our website.</p>
                            <p>Most browsers accept cookies automatically, but can be configured not to accept them or to indicate when a cookie is being sent. If
                            you choose to make your browser refuse cookies, it is possible that some portions of our website will not function optimally when
                            you use them.</p>
                            <p>However, we do not link the information stored in these cookies directly to any of your personal information you submit while on the
                            website.</p>
                            <p>We also automatically collect your Internet Protocol (IP) address (which allows us to (a) understand how you use our site and enables
                            us to make changes to our website in order to improve your user experience); and (b)information regarding your computer and your
                            connection to our site (such as your browser type, operating system, and platform etc).
                        </p>
                        <h5>4. Web Beacons</h5>
                            <p>In certain circumstances we also may use Web Beacons to collect anonymous, non-personal information about your use of our
                            website and the sites of selected sponsors and advertisers, and your use of emails, special promotions or newsletters we send to you.
                            'Web Beacons' are tiny graphic image files imbedded in a web page or email that provide a presence on the web page or email and
                            send back to its home server information from the user’s browser. The information collected by web beacons allows us to statistically
                            monitor how many people are using the website and selected sponsors' and advertisers' sites, or opening our emails, and for what
                            purposes.</p>
                           <h5> 5. Website Analytics</h5>
                            <p>We may use third party website analytics services for our website. These website analytics services do not collect Personal
                            Information that you do not voluntarily enter into the site. These services do not track your browsing habits across websites, which
                            do not use their services. We are using the information collected from these services to find usability problems to make the site
                            easier to use.</p>
                            <p>The recordings will never identify you or your account.</p>
                            <h5>6. Storage of Information</h5>
                            <p>We store (but don't share) all traffic data and review postings indefinitely, even after ‘deletion’, and may archive such information
                            elsewhere. We store (but don't share) all Personal Information until you request that we modify or delete it, in which case we may
                            still end up retaining some of that information, as it may be impossible to remove your account without some residual information
                            being retained by us.</p>
                            <p>legalconclave.com has no obligation to delete any data or information you provide - following termination of your account or the
                            account of any professional to whom your Case History Form was submitted through the website. Registered users who wish to close
                            their account should write in at feedback@legalconclave.com.</p>
                            <h5>7. Children</h5>
                            <p>Our Website is not meant for children, and we do not seek to collect any information from children under the age of 18. If we learn
                            that we have received any information from an individual under the age of 18, we will use that information only to respond directly
                            to that child (or a parent or legal guardian) to inform him or her that he or she cannot use our website services, following which we
                            will delete that information from our servers.</p>
                            <h5>8. How information about you may be used by legalconclave.com</h5>
                            <p>Personal information like your case history (optional), gender and age details is collected by the lawyer when you start a new
                            consultation request.</p>
                            <p>We may also use your de-identified personal information to run (or authorize third parties to run) statistical research on individual or
                            aggregate trends. Such research would only use your personal information in an anonymous manner that cannot be correlated back
                            to you.</p>
                            <p>Primarily your email will be used to:</p>
                            <p>Provide to you the services offered by the website.</p>
                            <p>Troubleshoot problems, provide you with system or admin messages, and as otherwise described to you at the time of collection.
                            </p><p>Deliver information to you that is relevant to your interests, such as notifications and reminders related to consultation.
                            </p><p>Customize and improve your experience.</p>
                            <p>Detect and protect us against error, fraud and other criminal activity.</p>
                            <p>Enforce our ‘Terms of Use’.</p>
                            <p>We have a no-spam policy.</p>
                            <p>However, in other instances, non-personal information collected may be used for statistical analysis, improvement of services, and
                            customization of web design, content, layout and services.</p>
                            <h5>9. Sharing of information</h5>
                            <p>We do not sell or rent your personal information to third parties. We do not share your information with third parties for purposes
                            other than providing you the services as mentioned in point 8 of this Privacy Policy document.
                            </p>
                            <p>To provide the service offered through this website, we will forward your information to the lawyers identified when you complete
                            our form and request a consultation in order for them to contact you, to evaluate your needs, and to determine whether to represent
                            you. When you submit your request, you consent to release of your information to those lawyers. As a part of this process, the
                            lawyers agree to keep your information confidential and agree not to share it with any third party without your explicit permission.
                            </p>
                            <p>We will disclose your information to proper Government authorities when we have a good-faith belief that such action is necessary
                            to comply with applicable laws, valid legal process, court orders, judicial proceedings, or to protect our rights or property.
                            </p>
                            <ul>
                                <li>
                            We share personal information and traffic data with our business partners who assist us by performing core services (such as
                            consultations, maintenance of site, hosting, fulfillment, or data storage and security) related to the operation of this website and/or
                            by making certain interactive tools available to our users. Those business partners shall be bound to uphold the same standards of
                            security and confidentiality that we have promised to you in this privacy policy, and they will only use your contact data and other
                            personal information to carry out their specific business obligations to legalconclave.com and to provide your requested services.
                            </li><li>We may transfer information about you to another company in connection with a merger, sale or acquisition by or of
                            legalconclave.com. In this event, we will use reasonable efforts to notify you before information about you is transferred and
                            becomes subject to a different privacy policy.</li>
                            </ul>
                            <h5>10. User Choice and controlling your Personal Information</h5>
                            <p>As a registered user of the website, you can modify/delete personal information you have provided in your profile. However, it may
                            be not be possible to remove your information without some residual information being retained by legalconclave.com.
                            </p>
                            <h5>11. Security</h5>
                               <p> You make the choice of making your data available to consulting lawyers. We follow generally accepted industry standards to protect
                            the personal information. For example, we use multiple layers of security firewalls and different degrees of encryption of your
                            sensitive personal data.</p>
                            <p>Our employees and consulting lawyers may share case information with each other for payment and operational purposes, only in
                            order to provide efficient professional services.</p>
                            <p>Your personal data may in some situations be viewed by third parties, such as lawyers or operations and maintenance contractors
                            repairing and maintaining our technical systems. The respective contracts require businesses to protect the information we share
                            with them. legalconclave.com will use the information received to provide our services in the best interest of the company.
                            </p>
                            <p>We will share your case information when required to comply with court order or other legal process. We may use and share your
                            case information to protect the rights, property or safety of legalconclave.com or another party, or to respond to claims that any
                            posting or other content violates the rights of third parties.
                            </p>
                            <p>The legalconclave.com website may contain links to other sites. Please note that we are not responsible for the privacy practices of
                            the other such sites. We encourage our users to be aware when they leave our site, and to scrutinize the privacy statements of these
                            websites.</p>
                            <p>We might send notifications, reminders and information to the email IDs provided by you. legalconclave.com will not be responsible
                            for the information loss or privacy loss due to the incorrect email ID provided by you.
                            </p>
                            <p>Although we make efforts in good faith to receive, transmit and store personal information in a secure operating environment that is
                            not open to the public, you should understand that there is no such thing as complete security, and we do not guarantee that there
                            will be no unintended disclosures of your Personal Information. If we become aware that your personal information has been
                            disclosed in a manner not in accordance with this Privacy Policy, we will use reasonable efforts to notify you of the nature and extent
                            of the disclosure (to the extent we know that information) as soon as reasonably possible and as permitted by law.
                            </p>
                            <h5>12. Lawyers</h5>
                            <p>Lawyers and their employees should be particularly aware of their obligations of client / user confidentiality, both in communicating
                            with legalconclave.com and in consulting users via the site. legalconclave.com does not have, and will not accept, any obligations of
                            confidentiality with respect to any communications other than those expressly stated in this Privacy Policy and legalconclave.com’s
                            </p>
                            <p>Terms of Use.</p>
                            <h5>13. Opt-Out Instructions</h5>
                            <p>You may opt-out by changing the settings on your profile page. This opt-out does not apply to communications we have with you to
                            complete your order or provide the service you requested. Understand, however, that, by electing this option, you may limit the
                            functionality of this Website and the amount of information and services we can provide to you. You may revoke your opt-out option
                            at any time by contacting us using the information provided above. </p>
                            <h5>14. Updates and Changes to this Privacy Policy</h5>
                            <p>Protecting your privacy online is an evolving area, and legalconclave.com is constantly evolving to meet these demands. We
                            therefore reserve the right to modify this Privacy Policy at any time. We will post any Privacy Policy changes on this page and, if the
                            changes are significant, we will provide a more prominent notice (including, for certain services, email notification of Privacy Policy
                            changes). </p>
                            <h5>15. Contact</h5>
                            <p>If you have comments, concerns or any questions about this Privacy Policy, please contact us at feedback@legalconclave.com
                            </p>    
                            <p>If you do not agree to terms of our Privacy Policy we kindly request you to not use this site
                            </p>
                    </div>
                </div>
            </div>
            
        </div>

    </div>

</div>		
<!-- /Page Content -->