<div class="profile-sidebar">
    <div class="widget-profile pro-widget-content">
        <div class="profile-info-widget">
            <a  [routerLink]="['/lawyer-dashboard']" class="booking-doc-img">
                <img src="assets/images/lawyer/2.png" alt="User Image">
            </a>
            <div class="profile-det-info">
                <h3>Adv Richard Wilson</h3>
            </div>
        </div>
    </div>
    <div class="dashboard-widget">
        <nav class="dashboard-menu">
            <ul>
                <li class="active">
                    <a  [routerLink]="['/lawyer-dashboard']">
                        <i class="fas fa-person-booth"></i>
                        <span>My Consultation</span>
                    </a>
                </li>
                <li>
                    <a  [routerLink]="['/lawyer-schedule-time']">
                        <i class="fas fa-clock"></i>
                        <span>Schedule Time Slots</span>
                    </a>
                </li>
                <li>
                    <a  [routerLink]="['/lawyer-invoice']">
                        <i class="fas fa-file-invoice"></i>
                        <span>Invoices / Revenue</span>
                    </a>
                </li>
                
                <li>
                    <a  [routerLink]="['/lawyer-profile-setting']">
                        <i class="fas fa-user-tie"></i>
                        <span>My Profile</span>
                    </a>
                </li>
                <li>
                    <a  [routerLink]="['/lawyer-change-password']">
                        <i class="fas fa-unlock-alt"></i>
                        <span>Change Password</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/lawyer-chat-widget']">
                        <i class="fas fa-comments"></i>
                        <span>Chat</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/lawyer-review']">
                        <i class="fas fa-star-half-alt"></i>
                        <span>Reviews</span>
                    </a>
                </li>
                <li>
                    <a  [routerLink]="['']">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>