<!-- Page Content -->
<div class="content" style="padding-top: 140px;">
    <div class="container-fluid">

        <div class="row" >
            
            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
               <app-admin-sidebar></app-admin-sidebar>
            </div>
            <!-- / Profile Sidebar -->
            
            <div class="col-md-7 col-lg-8 col-xl-9">
                 <!--Lawyer dashboard Tiles-->
                 <div class="row">
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="dash-widget-icon text-primary border-primary">
                                        <i class="fas fa-balance-scale"></i>
                                    </span>
                                    <div class="dash-count">
                                        <h3>168</h3>
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    <h6 class="text-muted">Lawyers</h6>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-primary w-50"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="dash-widget-icon text-success">
                                        <i class="fas fa-users"></i>
                                    </span>
                                    <div class="dash-count">
                                        <h3>487</h3>
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    
                                    <h6 class="text-muted">Customers</h6>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-success w-50"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="dash-widget-icon text-danger border-danger">
                                        <i class="fas fa-calendar-alt"></i>
                                    </span>
                                    <div class="dash-count">
                                        <h3>485</h3>
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    
                                    <h6 class="text-muted">Total Bookings</h6>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-danger w-50"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="dash-widget-icon text-warning border-warning">
                                        <i class="fas fa-money-bill-alt"></i>
                                    </span>
                                    <div class="dash-count">
                                        <h3>Rs.62523</h3>
                                    </div>
                                </div>
                                <div class="dash-widget-info">
                                    
                                    <h6 class="text-muted">Revenue</h6>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-warning w-50"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card dashboard-card">
                            <div class="card-header" style="border-radius: 0!important;"> 
                                <h6 class="text-white mb-0">Phone Consultation</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="text-left">Total</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Processing</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Slot Approved</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Completed</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Revenue</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card dashboard-card">
                            <div class="card-header" style="border-radius: 0!important;"> 
                                <h6 class="text-white mb-0">Video Consultation</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="text-left">Total</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Processing</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Slot Approved</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Completed</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Revenue</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="card dashboard-card">
                            <div class="card-header" style="border-radius: 0!important;"> 
                                <h6 class="text-white mb-0">Email Consultation</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="text-left">Total</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Processing</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Slot Approved</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Completed</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Revenue</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card dashboard-card">
                            <div class="card-header" style="border-radius: 0!important;"> 
                                <h6 class="text-white mb-0">Direct Consultation</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="text-left">Total</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Processing</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Slot Approved</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Completed</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Revenue</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card dashboard-card">
                            <div class="card-header" style="border-radius: 0!important;"> 
                                <h6 class="text-white mb-0">Chat Consultation</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="text-left">Total</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Processing</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Slot Approved</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Completed</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Revenue</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card dashboard-card">
                            <div class="card-header" style="border-radius: 0!important;"> 
                                <h6 class="text-white mb-0">Free Consultation</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="text-left">Total</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Processing</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Slot Approved</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Completed</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Revenue</td>
                                                <td class="text-right">4101</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->
