<!-- Lawyer List Banner -->
<section class="section section-contact-us">
    <div class="container-fluid">
        <div class="row " style="margin-top: 85px;">
            <div class="col-sm-12 d-flex align-items-center">
                <div class="banner-wrapper">
                    <div class="banner-header text-center">
                        <h1 class="text-center text-black ctm-underline">Terms of Service</h1>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- /Lawyer List Banner -->
<!-- Page Content -->
<div class="content pt-0">
    <div class="container-fluid">

        <div class="row aliign-items-center justify-content-center">
            <div class="col-md-10 col-lg-10 col-xl-10 theiaStickySidebar">
                <div class="">
                    <div class="">
                        <h4>Terms & Conditions for using legalconclave.com</h4>
                        <p>This is an ‘Agreement’ - an electronic record as mandated by the Information Technology Act, 2000. The subsequent Terms &amp; Conditions constitute an Agreement between You (Client / Lawyer) and legalconclave.com. By using this website, you agree to be bound by the below mentioned Terms &amp; Conditions. If you do not agree to the below mentioned Terms, please Do Not use this website.</p>
                        <ul style="list-style: none; padding: 0;">
                            <li>
                                <h5>How our Terms and Conditions are Applicable</h5>
                                <div>
                                <p>By accessing our services, you impliedly accept  the following terms. These terms of use cover your usage and access to the products, services, software as a service(SAAS), platform websites and mobile applications provided by LegalConclave.Com and any of our affiliates. Thus we recommend you to  read and understand it thoroughly. Services rendered by LegalConclave.Com encompass various legal areas of documentation. This might require and invite certain additional terms relevant with the Services and those additional terms shall be considered as a part of the agreement with LegalConclave.Com. By using our Services, You agree to be bound by these Terms of Usage as well as our <a href="http://legalconclave.com/privacy_policy">Privacy Policy</a>. If You are using our Services as an employee or agent of an organization, it is deemed that you agree  to these Terms of Use on behalf of that organization.</p>
                                <p>By using our Services You agree that you are a major which means above 18 years of age and can form a binding contract with LegalConclave.Com; and only as permitted by law, including applicable professional standards laws, rules and regulations as and when they are made. By using our Services you agree that we reserve the right to suspend your account or stop providing our Services to at our sole discretion on the basis of discovery of some discrepancy on your part.</p> 
                                </div>
                            </li>
                            <li>
                                <h5>Acceptance of Terms</h5>
                                <div>
                                    <p>While using this Website you understand and accept to have read and agreed to the following terms and conditions set forth herein. Any incidental documents and links mentioned shall be considered to be accepted with these terms. This shall include our Privacy Policy provided for on our Website.</p>
                                </div>
                            </li>
                            <li>
                                <h5>Information shared with us</h5>
                                <div>
                                    <p>LegalConclave.Com’s Services lets you upload, store or share your files at any time. You have reserve rights on any intellectual property that you hold in that content. The rights that you offer to LegalConclave.Com and its employees are limited for supervising and developing our services.</p>
                                </div>
                            </li>
                            <li>
                                <h5>Your LegalConclave.Com Account</h5>
                                <div>
                                    <p>You will receive account credentials and a password right after the successful completion of the Registration Process for the website/mobile app. You are responsible for reserving the secrecy and confidentiality of the password for the account. You agree to:
            </p><ul>
            <li>(i) immediately inform LegalConclave.Com of any use/breach of your account or password.</li>
            <li>(ii) make sure you logout from your account every time you are done accessing it. LegalConclave.Com cannot and will not be held responsible for any losses and damages resulting from your failure to abide by with this section.</li>
            </ul><p></p>
            
            <p>LegalConclave.Com will take due care to ensure the confidentiality of your credentials. You agree that in the very unlike occurrence of such event of your credentials becoming known to a third party on account of an intrusion into LegalConclave.Com’s database, LegalConclave.Com shall not be made liable for the resulting damages.</p>
            
            <p>If you become aware of any unauthorized use of your password or of your account, you agree to notify the concerned official at LegalConclave.Com immediately. You can write to <a href="mailto:feedback@legalconclave.com">feedback@legalconclave.com</a>.</p>
                                </div>
                            </li>
            
            
                            <li>
                                <h5 id="cancellation-policy">Your Responsibility</h5>
                                <div>
                                    <p> </p><ol>
            <li>It is your responsibility to furnish the required and relevant documents for any due process.</li>
            Legal Conclave reserves the right to cancel/terminate any requested service to a client if the document(s) is found to be unauthentic or fabricated.
            </ol><p></p>
                                </div>
                            </li>
                            
                            <li>
                                <h5> Our Disclaimer</h5>
                                <div>
                                    <p>We advise you not to share your login credentials with anyone or with anyone else claiming to be a representative of LegalConclave.Com. In case you happen to notice any sort of fault in our Website/Mobile App or system, we request you to inform us of the issue immediately. We would welcome and appreciate your suggestions and advice. While reporting the issue, please share the proof, your identity and contact details, to help us improve the situation rapidly. Minor problems can be addressed in a very short time, whereas more complicated ones will take a while longer. For any issues or doubts regarding the order/delivery, you are requested to check the order history and status and revert to us.</p> 
             
            
            <p>Further, You understand, accept and agree that the payment facility provided by LegalConclave.Com is neither a banking nor financial service but is merely a facilitator that is an intermediary or payment gateway for the purposes of providing an electronic, automated online payment, collection and remittance facility for the Services on the LegalConclave.Com Website using the existing authorized banking infrastructure and Credit Card payment gateway networks. Further, by providing Payment Facility, LegalConclave.Com is neither acting as trustees nor acting in a financial capacity with respect to the Service or the price.</p>
                                </div>
                            </li>
                            <li>
                                <h5>Legal Problems / Questions by Users that Lawyers Can See</h5>
                                <div>
                                    <p>Legalconclave.com Users may post legal questions in the ‘Free Legal Advice’ section and lawyers may offer to help, or be asked by legalconclave.com to offer their help. The Lawyers will be able to view the information included in the Legal Request by the User.  Lawyers may offer their legal services to any User in response. No confidential information should be shared by the Users on the Legalconclave.com platform. By choosing to do so, Users acknowledge that there is no duty of any Lawyers to keep such information confidential.</p>
                                </div>
                            </li>
                            <li>
                                <h5>Dispute Resolution</h5>
                                <div>
                                    <p>The Terms of Use, and Your relationship with LegalConclave.Com under the Terms of Use, shall be governed by the laws of India, and in particular the laws in the State of Karnataka shall be applicable and Courts in the city of Bangalore, Karnataka shall have the jurisdiction.</p>
                                </div>
                            </li>
                            <li>
                            
             
            
            
                                <h5>Delivery Policy</h5>
                                <div>
                                    <p>We strive to deliver the relevant document(s) to your address within the promised time from the time of booking the order and under rare exceptional cases, delivery of documents might be delayed due to circumstances that are beyond our control.</p>
            <p>If the document(s) and/or envelope is found to be in damaged condition / tampered on delivery, please do not accept the courier and return the same back with that delivery person, additionally please call us to update the same. We will redo the entire documentation and courier the same at no extra cost to you.</p>
            
            <p><strong>Delivery Time:</strong> It would take 3-15 working days to get document delivered at your doorstep. However, This is a tentative time depending on availability of Sub-Registrar / Stamping Machine / Advocate / Political Bandhs / National Holiday, etc. </p>
                                </div>
                            </li>
                            <li>
                                <h5>Announcement with regard to Service:</h5>
                                <div>
                                    <p>We may send out an e-mail when we have add update or amend any new service that we are starting to offer. If you do not like to receive these kinds of promotional e-mail, you may opt out / unsubscribe.</p>
                                </div>
                            </li>
                            <li>
                                <h5>Information Sharing and Disclosure</h5>
                                <div>
                                    <p>LegalConclave.Com a strict policy for handling customer information with our associates / business partner(s) or vendor(s). We strictly reserve all rights to disclose any relevant information to do the documentation.</p>
                                </div>
                            </li>
                            <li>
                                <h5>Security and Confidentiality</h5>
                                <div>
                                    <p>LegalConclave.Com safeguards customer information from unauthorized access, and make sure that information is not misused. We have in place suitable managerial measures to protect and secure the information that you provide.</p>
                                </div>
                            </li>
                            
            
            
                            <li>
                                <h5>Change in Privacy Policy</h5>
                                <div>
                                    <p>LegalConclave.Com reserves all rights to modify the contents of Privacy Policy from time to time. The changes in our privacy policy will be posted in our Privacy Policy and Disclaimer page and any other place that we might seem appropriate to us to create awareness.</p>
                                   <p> If you have any clarification / questions or comments regarding our privacy policy, please feel free to write to us or call us. </p>
            
                                </div>
                            </li>
                            <li>
                                
                                <div>
                                    <p>LegalConclave.Com is founded by a team with technical and legal background. We try to provide our customers a Competitive Price and facilities for getting Property Documents Verification, Rental Agreements, Affidavits, Stamp Duties, Legal Documents; in furtherance to this we have tied up with various Bodies - Sub-Registrar Offices, CAs, Advocates and Courier Services.</p>
                                </div>
                            </li>
                            <li>
                                <h5>We are responsible for:</h5>
                                <div>
                                    <p>
                                    </p><ul style="margin-left:25px">
            <li style="list-style: circle">Generating document content as per requirement.</li>
            <li style="list-style: circle">Providing document with a Authorized Stamp Duty (Franking or e-Stamping).</li> 
            <li style="list-style: circle">Packing and Couriering the Document with a Genuine and Well Recognized Courier Services.</li>
            <li style="list-style: circle">Providing refund and support in the event of any failure or cancellation, with condition that Stamping has not taken place.</li>
            <li style="list-style: circle">Providing full customer support and information in case of any delays / inconvenience.</li>
            </ul>
            <p></p>
                                </div>
                            </li>
                            <li>
                                <h5>We are Not Responsible for:</h5>
                                
            
            
                                <div>
                                    <ul style="margin-left:25px">
            <li style="list-style: circle">Content is not our responsibility. Customer are expected to go through the agreement, or upload a document with complete awareness on contents.</li>
            <li style="list-style: circle">If there is Delay on getting stamp duty due to absence of Bodies at Sub-Registrar Office.</li>
            <li style="list-style: circle">If there is Delay on getting stamp duty due to failure of Machines at Sub-Registrar Office.</li>
            <li style="list-style: circle">If there is Delay on arriving document due to failure from Courier Service.</li>
            <li style="list-style: circle">If the Stamp Duty Alignment, Behaviour of Courier Guy etc not being up to the customer's expectation.</li>
            <li style="list-style: circle">If the cancellation in Dispatch of Document by Courier Service due to unavoidable reasons.</li>
            <li style="list-style: circle">If the customer waiting at the wrong Address, as per mentioned Mailing Address.</li>
            <li style="list-style: circle">If the customer not available at the mentioned Mailing address.</li>
            </ul>
                                </div>
                            </li>
                            
                            <li>
                                <h5>In case of changes in our Terms &amp; Conditions</h5>
                                <div>
                                    <p>Any of the Terms &amp; Conditions may be changed/amended as and when required, and a notice regarding the same will be published on the Website. If any User/Lawyers does not agree with the amended terms, he/she may contact us or discontinue using the Website.</p>
            
                                    <p>If you have any questions about any part of this Terms &amp; Conditions Agreement, feel free to contact us at <a href="mailto:feedback@legalconclave.com">feedback@legalconclave.com</a></p>
                                    <br><br>
                                    <p style="color:#979595; font-size:10px;">Last updated on: Nov 22 2017</p>
                                </div>
                            </li>
                        </ul>    
                    </div>
                </div>
            </div>
            
        </div>

    </div>

</div>		
<!-- /Page Content -->