
.consultation-tab li a.active{
    color: #fff;
    background-color: #707070;
}
.consultation-tab li a:hover{
    color: #707070;
    border-bottom-color: #707070;
}
.consultation-tab li a.active:hover{
    color: #fff;
}

.bg-black{
    background-color: #000;
}
.btn-sign{
    background-color: #707070;
    border-color:#707070;
}
.social-login{
    text-align: center;
}
.social-login > a{
    background-color: #ccc;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    margin-right: 6px;
    text-align: center;
    width: 50px;
}
.social-login > a.facebook{
    background-color: #4b75bd;
}
.social-login > a.google{
    background-color: #fe5240;
}