<!-- Lawyer List Banner -->
<section class="section section-contact-us">
    <div class="container-fluid">
        <div class="row " style="margin-top: 85px;">
            <div class="col-sm-12 d-flex align-items-center">
                <div class="banner-wrapper">
                    <div class="banner-header text-center">
                        <h1 class="text-center text-black ">Blog</h1>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- /Lawyer List Banner -->
<!-- Page Content -->
<div class="content pt-0">
    <div class="container-fluid">

        <div class="row aliign-items-center justify-content-center">
            <div class="col-md-10 col-lg-10 col-xl-10">
                <div class="row">
                    <div class="col-sm-3">
                        <div><div class="profile-widget" style="width: 100%; display: inline-block;">
                            <div class="doc-img">
                                <a   [routerLink]="['/blog-inner']" tabindex="0">
                                    <img class="img-fluid" alt="User Image" src="assets/images/banner/blog.jpg">
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title text-left">
                                    <a  [routerLink]="['/blog-inner']" tabindex="0">Right To Constitutional Remedies, The Heart And Soul</a>
                                </h3>
                                <div class="row row-sm">
                                    <div class="col-6 text-left">
                                       <small> Author Name</small>
                                    </div>
                                    <div class="col-6 text-right">
                                        <small>11 Dec 2022</small>

                                    </div>
                                </div>
                                <p class="speciality text-justify">Proin luctus eu erat quis tincidunt. Vestibulum ante
                                    ipsum primis in faucibus orci luctus et ultrices posuere
                                    cubilia Curae; Suspendisse ullamcorper nunc eu
                                    placerat fermentum</p>
                                
                                <ul class="available-info text-left">
                                    <li>
                                       <a  style="color: #000;"  [routerLink]="['/blog-inner']"> <b>Read More ></b> </a>

                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div><div class="profile-widget" style="width: 100%; display: inline-block;">
                            <div class="doc-img">
                                <a    [routerLink]="['/blog-inner']" tabindex="0">
                                    <img class="img-fluid" alt="User Image" src="assets/images/banner/blog.jpg">
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title text-left">
                                    <a  [routerLink]="['/blog-inner']" tabindex="0">Right To Constitutional Remedies, The Heart And Soul</a>
                                </h3>
                                <div class="row row-sm">
                                    <div class="col-6 text-left">
                                       <small> Author Name</small>
                                    </div>
                                    <div class="col-6 text-right">
                                        <small>11 Dec 2022</small>

                                    </div>
                                </div>
                                <p class="speciality text-justify">Proin luctus eu erat quis tincidunt. Vestibulum ante
                                    ipsum primis in faucibus orci luctus et ultrices posuere
                                    cubilia Curae; Suspendisse ullamcorper nunc eu
                                    placerat fermentum</p>
                                
                                <ul class="available-info text-left">
                                    <li>
                                       <a style="color: #000;"   [routerLink]="['/blog-inner']"> <b>Read More ></b> </a>

                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div><div class="profile-widget" style="width: 100%; display: inline-block;">
                            <div class="doc-img">
                                <a    [routerLink]="['/blog-inner']" tabindex="0">
                                    <img class="img-fluid" alt="User Image" src="assets/images/banner/blog.jpg">
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title text-left">
                                    <a  [routerLink]="['/blog-inner']" tabindex="0">Right To Constitutional Remedies, The Heart And Soul</a>
                                </h3>
                                <div class="row row-sm">
                                    <div class="col-6 text-left">
                                       <small> Author Name</small>
                                    </div>
                                    <div class="col-6 text-right">
                                        <small>11 Dec 2022</small>

                                    </div>
                                </div>
                                <p class="speciality text-justify">Proin luctus eu erat quis tincidunt. Vestibulum ante
                                    ipsum primis in faucibus orci luctus et ultrices posuere
                                    cubilia Curae; Suspendisse ullamcorper nunc eu
                                    placerat fermentum</p>
                                
                                <ul class="available-info text-left">
                                    <li>
                                       <a  style="color: #000;"   [routerLink]="['/blog-inner']"> <b>Read More ></b> </a>

                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    </div>
                    
                    <div class="col-sm-3">
                        <div><div class="profile-widget" style="width: 100%; display: inline-block;">
                            <div class="doc-img">
                                <a    [routerLink]="['/blog-inner']" tabindex="0">
                                    <img class="img-fluid" alt="User Image" src="assets/images/banner/blog.jpg">
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title text-left">
                                    <a  [routerLink]="['/blog-inner']" tabindex="0">Right To Constitutional Remedies, The Heart And Soul</a>
                                </h3>
                                <div class="row row-sm">
                                    <div class="col-6 text-left">
                                       <small> Author Name</small>
                                    </div>
                                    <div class="col-6 text-right">
                                        <small>11 Dec 2022</small>

                                    </div>
                                </div>
                                <p class="speciality text-justify">Proin luctus eu erat quis tincidunt. Vestibulum ante
                                    ipsum primis in faucibus orci luctus et ultrices posuere
                                    cubilia Curae; Suspendisse ullamcorper nunc eu
                                    placerat fermentum</p>
                                
                                <ul class="available-info text-left">
                                    <li>
                                       <a style="color: #000;"   [routerLink]="['/blog-inner']"> <b>Read More ></b> </a>

                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->