<div class="profile-sidebar">
    <div class="dashboard-widget">
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span class="d-flex align-items-center"><img class="img-service" src="assets/images/icon/Affidavit.png"> &nbsp;&nbsp;Affidavits </span>
                </ng-template>
                <ng-template ngbPanelContent>
                  <ul class="sub-services">
                    <li><a  routerLink="/service-inner">Address Proof</a></li>
                    <li><a>Name Change of Minor</a></li>
                    <li><a>Name Change of Adult</a></li>
                    <li><a>Passport Affidavit Annexure C</a></li>
                    <li><a>Passport Affidavit Annexure D</a></li>
                    <li><a>Passport Affidavit Annexure E</a></li>
                    <li><a>Duplicate Driving License</a></li>
                    <li><a>No Criminal Offence</a></li>
                    <li><a>Adoption Of A Child</a></li>
                    <li><a>Birth Certificate</a></li>
                    <li><a>Death Certificate</a></li>
                    <li><a>Sponsorship For Studying Abroad</a></li>
                    <li><a>Other Affidavits</a></li>
                  </ul>
                </ng-template>
              </ngb-panel>
              
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <span  class="d-flex align-items-center"><img class="img-service" src="assets/images/icon/Document_verification.png">&nbsp;&nbsp; Document Verification</span>
                </ng-template>
              <ng-template ngbPanelContent>
                
              </ng-template>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <span class="d-flex align-items-center"><img class="img-service" src="assets/images/icon/Pappwe_work.png"> &nbsp;&nbsp;Paperworks </span>
                </ng-template>
              <ng-template ngbPanelContent>
                
              </ng-template>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <span class="d-flex align-items-center"><img class="img-service" src="assets/images/icon/certified.png">&nbsp;&nbsp; Certified Copies </span>
                </ng-template>
              <ng-template ngbPanelContent>
               
              </ng-template>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <span class="d-flex align-items-center"><img class="img-service" src="assets/images/icon/agreements.png">&nbsp;&nbsp; Agreements </span>
                </ng-template>
              <ng-template ngbPanelContent>
                
              </ng-template>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <span class="d-flex align-items-center"><img class="img-service" src="assets/images/icon/property.png">&nbsp;&nbsp; Property Registration </span>
                </ng-template>
              <ng-template ngbPanelContent>
                
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
    </div>

</div>