<!-- Page Content -->
<div class="content" style="padding-top: 140px;">
    <div class="container-fluid">

        <div class="row">
            
            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
               <app-user-sidebar></app-user-sidebar>
            </div>
            <!-- / Profile Sidebar -->
            
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xl-3">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a [routerLink]="['/lawyer-profile']" >
                                    <img class="img-fluid width-100" alt="User Image" src="assets/images/lawyer/1.png">
                                </a>
                                <a routerLink="javascript:void(0)" class="fav-btn">
                                    <i class="far fa-bookmark"></i>
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a [routerLink]="['/lawyer-profile']" >SWATI PANDURANGA</a> 
                                   
                                </h3>
                                <p class="speciality">17 Years of Experienc</p>
                                
                                <h6 class="practice-area-title">Practice Areas</h6>
                                <p class="practice-title">Civil Laws</p>
                                <h6 class="practice-area-title">Bangalore / Bengaluru</h6>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                </div>
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a  [routerLink]="['/lawyer-profile']"  class="btn view-btn">View Profile</a>
                                    </div>
                                    <div class="col-6">
                                        <a routerLink="" class="btn book-btn btn-primary">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a [routerLink]="['/lawyer-profile']" >
                                    <img class="img-fluid width-100" alt="User Image" src="assets/images/lawyer/1.png">
                                </a>
                                <a routerLink="javascript:void(0)" class="fav-btn">
                                    <i class="far fa-bookmark"></i>
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a [routerLink]="['/lawyer-profile']" >SWATI PANDURANGA</a> 
                                   
                                </h3>
                                <p class="speciality">17 Years of Experienc</p>
                                
                                <h6 class="practice-area-title">Practice Areas</h6>
                                <p class="practice-title">Civil Laws</p>
                                <h6 class="practice-area-title">Bangalore / Bengaluru</h6>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                </div>
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a  [routerLink]="['/lawyer-profile']"  class="btn view-btn">View Profile</a>
                                    </div>
                                    <div class="col-6">
                                        <a routerLink="" class="btn book-btn btn-primary">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a [routerLink]="['/lawyer-profile']" >
                                    <img class="img-fluid width-100" alt="User Image" src="assets/images/lawyer/1.png">
                                </a>
                                <a routerLink="javascript:void(0)" class="fav-btn">
                                    <i class="far fa-bookmark"></i>
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a [routerLink]="['/lawyer-profile']" >SWATI PANDURANGA</a> 
                                   
                                </h3>
                                <p class="speciality">17 Years of Experienc</p>
                                
                                <h6 class="practice-area-title">Practice Areas</h6>
                                <p class="practice-title">Civil Laws</p>
                                <h6 class="practice-area-title">Bangalore / Bengaluru</h6>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                </div>
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a  [routerLink]="['/lawyer-profile']"  class="btn view-btn">View Profile</a>
                                    </div>
                                    <div class="col-6">
                                        <a routerLink="" class="btn book-btn btn-primary">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                        <div class="profile-widget">
                            <div class="doc-img">
                                <a [routerLink]="['/lawyer-profile']" >
                                    <img class="img-fluid width-100" alt="User Image" src="assets/images/lawyer/1.png">
                                </a>
                                <a routerLink="javascript:void(0)" class="fav-btn">
                                    <i class="far fa-bookmark"></i>
                                </a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a [routerLink]="['/lawyer-profile']" >SWATI PANDURANGA</a> 
                                   
                                </h3>
                                <p class="speciality">17 Years of Experienc</p>
                                
                                <h6 class="practice-area-title">Practice Areas</h6>
                                <p class="practice-title">Civil Laws</p>
                                <h6 class="practice-area-title">Bangalore / Bengaluru</h6>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                </div>
                                <div class="row row-sm">
                                    <div class="col-6">
                                        <a  [routerLink]="['/lawyer-profile']"  class="btn view-btn">View Profile</a>
                                    </div>
                                    <div class="col-6">
                                        <a routerLink="" class="btn book-btn btn-primary">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->
